
<div class="column is-half">
  <% if current_user != nil %>
  <div class="box">
  <article class="media-box">
    <figure class="media-left">
      <p class="image is-64x64">
        <%= gravatar_image_tag(current_user.email, size: 64, alt: current_user.name) %>
      </p>
    </figure>
    <div class="media-content">
      <%= render 'twerks/form' %>
    </div>
  </article>
  </div>
  <% end %>

  <% @twerks.each do |twerk| %>
    <% if twerk.user != nil %>
    <div class="box">
      <article class="media">
        <div class="media-left">
          <figure class="image is-64x64">
            <%= gravatar_image_tag(twerk.user.email, size: 64, alt: twerk.user.name) %>
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <strong><%= twerk.user.name %></strong></br>
            <small>@<%= twerk.user.username %></small>
            </br>
            <p><%= twerk.twerk %></p>
          </div>
          <nav class="level">
            <div class="level-left is-mobile">
              <%= link_to twerk, class: "level-item" do %>
                <span class="icon"><i class="fa fa-link" aria-hidden="true"></i></span>
              <% end %>
              <%= link_to edit_twerk_path(twerk), class: "level-item" do %>
                <span class="icon"><i class="fa fa-pencil" aria-hidden="true"></i></span>
              <% end %>
              <%= link_to twerk, method: :delete, data: {confirm: "Are you sure?"} do %>
                <span class="icon"><i class="fa fa-trash-o" aria-hidden="true"></i></span>
              <% end %>
            </div>
          </nav>
        </div>
      </article>
    </div>
    <% end %>
  <% end %>
</div>